.card-closed {
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-open {
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-button-closed {
  width: 100%;
  text-align: left;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggle-button-open {
  width: 100%;
  text-align: left;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background: lightblue;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggle-button:hover {
  background-color: white;
}

.icon {
  font-size: 18px;
}

.card-content {
  background-color: lightblue;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
